* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.app-root{
  min-height: 100vh;
  min-width: 100vw;
  background: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-container{
  display: flex;
  flex-direction: column;
  width: 376px;
  background-color: #ebebeb;
  border-radius: 15px;
  padding: 50px 5px 30px 5px;
  box-shadow: 20px 15px 46px -8px rgba(168,168,168,0.75), 10px 15px 29px -14px rgba(255,255,255,0.64) inset;
  -webkit-box-shadow: 20px 15px 46px -8px rgba(168,168,168,0.75), 10px 15px 29px -14px rgba(255,255,255,0.64) inset;
}

.calculator-screen{
  text-align: right;
  padding: 10px 5px;
  position: relative;
  width: 360px;
  height: 81px;
}
.calculator-screen div{
  font-size: inherit;
  padding: 0 5px;
  position: absolute;
  right: 0;
  transform-origin: right;
  color: rgb(39, 38, 38);
  opacity: 0.6;
  
}

.calculator-pad{
  display: flex;
  flex-direction: row;
}

.calculator-pad button{
  width: 70px;
  border: none;
  height: 70px;
  margin: 10px;
  background-color: #f0edee;
  border-radius: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.568);
  font-size: 1em;
  cursor: pointer;
  outline: none;
  box-shadow: -2px 5px 8px -2px rgba(196,196,196,0.75);
-webkit-box-shadow: -2px 5px 8px -2px rgba(196,196,196,0.75);
-moz-box-shadow: -2px 5px 8px -2px rgba(196,196,196,0.75);
}
.calculator-pad button:active{
  background-color: rgb(199, 199, 199);
  font-size:x-large;
}

.pad-right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

.pad-left{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-content: space-around;
}

.flex-span-2{
  width: 160px!important;
}

.bg-orange{
  color: whitesmoke!important;
  background: #ec802e!important;
}

.btn-fx, .btn-opr{
  background:rgb(221, 221, 221)!important;
}