* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.app-root{
  min-height: 100vh;
  min-width: 100vw;
  background: hsl(25.33deg 100% 73.53%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-container{
  display: flex;
  flex-direction: column;
  /* padding-top: 50px; */
  /* padding-bottom: 10px; */
  width: 370px;
  background-color: #ebebeb;
  border-radius: 15px;
  padding: 50px 5px 30px 5px;
}

.calculator-screen{
  flex: 1;
  /* background-color: rgb(102, 99, 99); */
  text-align: right;
  padding: 10px 5px;
}
.calculator-screen div{
  display: block;
  font-size: 50px;
  font-weight: bold;
  text-align: right;
  color: rgb(39, 38, 38);
  width: 350px;
}

.calculator-pad{
  display: flex;
  flex-direction: row;
  /* min-height: 430px; */
  /* gap: 5px; */
  /* background: rgb(58, 58, 58); */
}

.calculator-pad button{
  width: 70px;
  
  /* border: 1px solid gray; */
  border: none;
  /* border: none; */
  height: 70px;
  margin: 10px;
  background-color: #f0edee;
  border-radius: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.568);
  font-size: 1em;
  cursor: pointer;
  box-shadow: -2px 5px 8px -2px rgba(196,196,196,0.75);
-webkit-box-shadow: -2px 5px 8px -2px rgba(196,196,196,0.75);
-moz-box-shadow: -2px 5px 8px -2px rgba(196,196,196,0.75);
}

/* .calculator-pad button:hover{
  background-color: rgb(199, 199, 199);
} */
.calculator-pad button:active{
  background-color: rgb(199, 199, 199);
  font-size:x-large;
}

.pad-right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

.pad-left{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-content: space-around;
}

.flex-span-2{
  width: 160px!important;
}

/* button.function-key, button.operation-key {
  color: #ec802e;
} */

.bg-orange{
  color: whitesmoke!important;
  background: #ec802e!important;
}